################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ProgramCase/v14
/ProgramCase/bin/Debug
/ProgramCase/obj/Debug
